@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    font-size: 0.625em;
}

* {
    box-sizing: border-box;
}
.btn{
  height: 50px; width: 100px;
  font-size: 30px;
  position: absolute;
  left: 10%;
  top: 10%;
  font-family: "Silkscreen", Verdana, Geneva;
  border: 0px ;
}
.btn a{
  text-decoration: none; color: black;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin: auto;
    max-width: 60rem;
    color: plum;
    background-image: url(../tetris/images/Background.jpeg);
    background-attachment: fixed;
}

header {
    text-align: center;
    margin-top: 3rem;
}

div {
    height: 2rem;
    width: 2rem;
}

/* some utility classes */
.t-ucase {
    text-transform: uppercase;
}

.t-big {
    font-size: 1.5em;
}

.t-wide {
    letter-spacing: 1.5rem;
}

.t-close {
    letter-spacing: 1rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 800;
}

.score-display {
    font-size: 5rem;
    color: wheat;
}

.game-area {
    display: flex;
    justify-content: center;
}

.game {
    height: 0;
    width: 300px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 20rem;
    height: 40rem;
    background-color: black;
    outline-style: solid;
  outline-color: aquamarine;
  outline-width: thick;
}

.previous-shape {
    width: 10rem;
    padding-left: 2rem;
    margin-top: -5rem;
}

.previous-grid {
    display: flex;
    flex-wrap: wrap;
    width: 8rem;
    height: 8rem;
}

.block {
    background-image: url(../images/blue_block.png);
}

.block2 {
    background-image: url(../images/purple_block.png);
}

.block3 {
    background-image: url(../images/green_block.png);
}

.block4 {
    background-image: url(../images/navy_block.png);
}

.block5 {
    background-image: url(../images/pink_block.png);
}

.button {
    position: relative;
    width: 30rem;
    height: 5rem;
    text-align: center;
    color: rgb(36, 148, 24);
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 23px;
    font-size: 10px;
    margin: 30px;
    text-shadow: 0.5px 0px  rgb(126, 126, 126);
    background: black;
    border: 2px solid aqua;
    width: 12rem;
    border-radius: 3px;
}

.button:active {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
        0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    top: 5px;
}

.button:active:before {
    top: -11px;
    bottom: -5px;
    content: "";
}

.button:hover {
    background: #5c5c5c;
    
}

.end {
    background-image: url(/Users/limit/development/Tetris/images/blue_block.png);
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    width: 17.5rem;
    height: 25rem;
    background: black;
    border: thick solid red;
    border-radius: 3px;
    color: #eab06d;
}

.score, .lines-display {
    padding-top: 1rem;
    font-size: 1.2rem;
}

/*menu*/
.container {
    max-width: 600px;
    padding: 0 3rem;
    margin: auto;
    overflow: hidden;
}

.btn:hover {
    opacity: 0.7;
}

/* START of MENU STYLING */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 1rem;
    background: rgba(13, 110, 139, 0.75);
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    display: flex;
    width: 150%;
    height: 2px;
    background: #fff;
    flex: none;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    position: absolute;
    top: -7px;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: inherit;
    content: "";
}

/* Moves Line Down */
.menu-wrap .hamburger > div:after {
    top: 7px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(24, 39, 51, 0.85);
}

.menu-content {
    text-align: center;
    width: 600px;
    align-items: center;
    margin-top: 230px;
    justify-content: center;
    width: 200vw;
    height: 200vh;
    border-radius: 50%;
    transition: all 0.8s ease;
}

.rules {
    font-size: 20px;
    transition: color 0.4s ease;
}

.key {
    color: #f8de7e;
}

.close {
    border-width: 3px;
    border-radius: 25px;
    color:rgba(24, 39, 51, 0.85);
}
