@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
  box-sizing :content-box; 
}
body{
  background-color: black;
 font-family: "Silkscreen", Verdana, Geneva;
}
.container{
  display: flex;
  flex-direction : column;
}
.container .c4 a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}
.c4{
  text-align: center;
  padding : 50px;
  font-size : 80px;
/*   -webkit-text-stroke: 4px yellow; */
}
.c1{
  background-image: url(snake.jpg);
  background-size: contain;
  font-weight: bolder;
  color: white;
  margin-bottom: 15px;
  
}
.c2{
  background-image: url(tetris.jpg);
  background-size: contain;
  margin-bottom: 15px;
}
.c3{
  background-image: url(flappy.png);
  background-size: contain;
  margin-bottom: 15px;
}
.container .c4 a {
  text-decoration: none;
}